@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');
form{
    overflow: hidden;
    background-color: gray;
    margin: 10px;
    max-width: 430px;
    padding: 10px 60px;

    margin: 0 auto;
    border: 10px solid transparent;
    border-image: 12 repeating-linear-gradient(45deg, #A7CECC, #A7CECC 10px, transparent 10px, transparent 20px, #F8463F 20px, #F8463F 30px,transparent 30px, transparent 40px);
}


.caption{
    background-color: rgba(170, 252, 255, 0.712);
}

h2{
    font-family: arial;
    text-align: center;
    padding: 25px;
    font-size: 22px;
    color: #F8463F;
    text-shadow: 4px 4px 0px rgba(255, 255, 255, 1);

    border:17px solid;
    border-image: 10 repeating-linear-gradient(45deg, #F8463F 20px, #F8463F 30px);
    border-image-slice: 100%;
}

.row{
    width: 100%;
    overflow: hidden;
    margin: 0;
    margin-bottom: 10px;
}

span{
    color: white;
    font-family: 'Rubik', sans-serif;
}

input[type="text"]{
    margin-left: 8px;
    border-radius: 12px;
    color: white;
}
input[type="text"]::placeholder{
    color: white;
    font-size: 14px;
}

.inp-1{
    width: 263px;
    padding: 5px;
    background-color: rgba(170, 252, 255, 0.712);
    border: 2px solid #F8463F;
}
.inp-2{
    width: 212px;
    padding: 5px;
    background-color: rgba(170, 252, 255, 0.712);
    border: 2px solid #F8463F;
}
.inp-3{
    padding: 5px;
    width: 325px;
    
    border: 2px solid rgb(170, 252, 255);
    background-color: #F8463F;
}
.inp-4{
    padding: 10px 20px;
    border: 2px solid rgb(170, 252, 255);
    background-color: #F8463F;
}

input[type="number"]{
    border: 2px inset #fff;
    background-color: #F8463F;
    font-size: 22px;
    color: blue;
    text-align: center;
    width: 70px;
}

select{
    padding: 4px 0 ; 
    background-color: rgba(170, 252, 255, 0.712);
}

textarea{
    background-color: rgba(170, 252, 255, 0.712);
    border-radius: 20px;

    -webkit-box-shadow: 6px 7px 7px 0px rgba(248,70,63,1);
    -moz-box-shadow: 6px 7px 7px 0px rgba(248,70,63,1);
    box-shadow: 6px 7px 7px 0px rgba(248,70,63,1);
}

.button-div{
    margin-left: 50px;
}
.subscribe-button, .clear-button{
    background-color: rgba(170, 252, 255, 0.712);
    border: 3px solid #F8463F;
    padding: 5px 15px;
    border-radius: 20px;
}
.subscribe-button span{
    color: #e00000f6;
    font-weight: 900;
    font-size: 18px;
}

.clear-button span{
    color: #F8463F;
    font-weight: 600;
    font-size: 18px;
}