@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');
form{
    overflow: hidden;
    background-color: gray;
    border: 2px dotted red;
    margin: 10px;
    max-width: 430px;
    padding: 10px 60px;

    margin: 0 auto;
    border: 10px solid transparent;
    border-image: 12 repeating-linear-gradient(45deg, #A7CECC, #A7CECC 10px, transparent 10px, transparent 20px, #F8463F 20px, #F8463F 30px,transparent 30px, transparent 40px);
}


* {box-sizing:border-box;}
.wrap {
height: 200px;
padding: 25px;
}
.gradient {

}


.caption{
    background-color: rgba(170, 252, 255, 0.712);
}

h2{
    font-family: arial;
    text-align: center;
    padding: 25px;
    font-size: 22px;
    color: red;
    text-shadow: 4px 4px 0px rgba(255, 255, 255, 1);
}

.row{
    width: 100%;
    overflow: hidden;
    margin: 0;
    margin-bottom: 10px;
}

span{
    color: white;
    font-family: 'Rubik', sans-serif;
}

input[type="text"]{
    margin-left: 8px;
    background-color: rgba(170, 252, 255, 0.712);
    border: 4px solid red;
    border-radius: 12px;
    padding: 5px;
}

.inp-1{
    width: 263px;
}
.inp-2{
    width: 212px;
}

